@model IndexVM

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Find, Drag & Drop</h1>
    <h2>Hello, @Model.Name</h2>
    <div id="container">

        <div id="main_image"></div>

        <div id="myPartialContainer"></div>

    </div>
</body>
</html>