
#main_image {
    content: url("https://finddragdropimages.blob.core.windows.net/images/Kitchen.png");
    width: 600px;
}

.draggable {
    width: 100px;
    position: absolute;
}

/*Cup*/
#dragFirst {
    width: 50px;
    top: 205px;
    right: 160px;
}
/*Fork*/
#dragSecond {
    transform: rotate(90deg);
    top: 190px;
    right: 30px;
}
/*Glas*/
#dragThird {
    width: 80px;
    top: 29px;
    left: 178px;
}
/*Knife*/
#dragFourth {
    transform: scaleX(-1);
    width: 90px;
    top: 150px;
    left: 160px;
}
/*Plate*/
#dragFifth {
    top: 80px;
    left: 125px;
}
/*Pot*/
#dragSixth {
    width: 120px;
    top: 143px;
    right: 510px;
}
/*Spoon*/
#dragSeventh {
    transform: rotate(10deg);
    top: 168px;
    right: 458px;
}
/*Basket*/
#dragEigth {
    top: 270px;
    right: 0px;
}
/*Candle*/
#dragNinth {
    top: 120px;
    left: 80px;
}

#container {
    position: relative;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Bangers',cursive;
    font-size: 70px;
    letter-spacing: 4px;
    margin-bottom:20px;
    margin-top:20px;
}

#wordTable {
    width: 600px;
    border: solid black 1px;
}

td {
    border: solid black 1px;
    width: 200px;
}

p {
    text-align: center;
    font-size: 14pt;
}

body {
    background: linear-gradient(to bottom right, pink, powderblue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    color: darkslategrey;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



h2 {
    text-align: center;
    font-size: 2em;
}



.input {
    font-size: 12pt;
    padding: 15px 25px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.playButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: hotpink;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.smallButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: hotpink;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    width: 100px;
}
