@model IndexVM

<div>
    <img src=https://finddragdropimages.blob.core.windows.net/images/@Model.ItemList[0].Image class='draggable' id='dragFirst' />
</div>
<div>
    <table id="wordTable">
        <tbody>
            <tr>
                <td class='droppable' id='dropFirst'><p>@Model.ItemList[0].Word</p></td>
                <td><p>hopp</p></td>
                <td><p>hopp</p></td>

            </tr>
            <tr>
                <td><p>hopp</p></td>
                <td><p>hopp</p></td>
                <td><p>hopp</p></td>

            </tr>
            <tr>
                <td><p>hopp</p></td>
                <td><p>hopp</p></td>
                <td><p>hopp</p></td>

            </tr>
        </tbody>

    </table>
</div>

